@charset "utf-8";

// 订单
.left-card {
  .card-body {
    &>p {
      color: #666;
      &>b {
        //margin-right: 10px;
      }
    }
    p.small-card span{
      font-size: 12px;
      height: 24px;
      line-height: 24px;
      padding: 0 10px;
      background: #f5f6f9;
      margin: 0 10px 10px 0;
      color: #767ead;
    }
  }
}

.pay-type-body {
  .pay-type {
    border: solid 1px #e2e2e2;
    margin-right: 10px;
    cursor: pointer;
  }
  .this {
    color: #1953ff;
    border-color: #1953ff;
  }
}

.actions{
    display: flex;
    flex-direction: column;
    position:fixed;
    top:120px;
    right: 20px;
    z-index:45
}
.actions .action{
    background: linear-gradient(45deg,#fd0b0b,#ff4a4a);
    /*box-shadow: 0 7px 10px 0 rgb(255 113 19 / 23%);*/
    padding:10px 20px;

    border-radius:10px 0 0 10px;
    margin-top: 15px;
    font-size:10px;
    font-weight:600;
    color:#ffffff;
    cursor: pointer;
}

.actions .kf{
    background: linear-gradient(45deg,#9737f7,#3369ff);
}