{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{#<h1>{% trans "Sign Up" %}</h1>#}
{##}
{#<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>#}

<div class="row align-items-center">
  <div class="col-lg-7 col-md-6">
    <div class="mr-lg-5">
      <img src="/static/app/images/login.svg" class="img-fluid d-block mx-auto" alt="">
    </div>
  </div>
  <div class="col-lg-5 col-md-6">
    <div class="card shadow rounded border-0">
      <div class="card-body">
        <h4 class="card-title text-center">{% trans "Sign In" %}</h4>
        <p class="text-danger text-center small" role="alert">&nbsp;
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </p>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_login' %}">
          {% csrf_token %}

          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}

          <div class="form-group">
            <label for="{{ form.login.id_for_label }}">{{ form.login.label }}</label>
            {{ form.login|add_class:'form-control' }}
            {% for error in form.login.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-group">
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            {{ form.password|add_class:'form-control' }}
            {% for error in form.password.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-group form-check">
            {% render_field form.remember class="form-check-input" %}
            <label for="{{ form.remember.id_for_label }}">{{ form.remember.label }}</label>
            <a class="text-muted float-right" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>

          {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">{% trans "Sign In" %}</button>
          </div>
{#          <div class="mx-auto">#}
{#            <p class="mb-0 mt-3"><small class="text-dark mr-2">没有账号 ?</small> <a href="{{ signup_url }}" class="text-dark">立即注册</a></p>#}
{#          </div>#}
          <p class="card-text text-center"><small class="text-muted">其他方式登录</small></p>
          <div class="col-12 text-center">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </div>
          <div class="form-text text-muted small">未注册手机验证后自动登录，注册即代表同意<a href="https://www.zhihu.com/term/zhihu-terms">《知乎协议》</a><a href="https://www.zhihu.com/term/privacy">《隐私保护指引》</a></div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
