{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

  <div class="row align-items-center">
    <div class="col-lg-8 col-md-7">
      <div class="mr-lg-5">
        <img src="/static/app/images/login.svg" class="img-fluid d-block mx-auto" alt="">
      </div>
    </div>
    <div class="col-lg-4 col-md-5">
      <div class="card shadow rounded border-0">
        <div class="card-body">
          <h4 class="card-title text-center">{% trans "Password Reset" %}</h4>
          <p class="card-subtitle mb-5 text-muted">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
          <form class="signup" id="signup_form" method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}

            {% include 'account/snippets/bs4_form.html' with form=form %}


            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}

            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">{% trans 'Reset My Password' %}</button>
            </div>
            <div class="mx-auto">
                <p class="mb-0 mt-3"><small class="text-dark mr-2">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</small></p>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
