<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static "app/lib/bootstrap-4.6.1/css/bootstrap.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "app/lib/layui/css/layui.css" %}">
  <script type="text/javascript" src="{% static "app/js/jquery-3.6.1.min.js" %}"></script>
  <script type="text/javascript" src="{% static "app/lib/bootstrap-4.6.1/js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static 'app/lib/layui/layui.js' %}"></script>
</head>
<body>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open
  modal for @mdo
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open
  modal for @fat
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
        data-whatever="@getbootstrap">Open modal for @getbootstrap
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>

<form class="layui-form" id="signup_form" method="post" action="/order/pay" lay-filter="test1">
  {% csrf_token %}
{#  <label for="id_email">联系方式</label>#}
{#  <input type="email" name="email" placeholder="E-mail地址" autocomplete="email" class="form-control layui-form-danger"#}
{#         required="" id="id_email">#}
  {{ form.as_p }}
</form>
<button type="button" id='testSubmitBtn' class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">确认支付</button>

<div class="container">
  <div class="test p-4" style="">
  <form id="payForm" name="pay">
    <input type="hidden" name="trade_no" value="">
    <div class="order_pay d-flex flex-row align-items-center">
        <img src="/static/app/images/order_pay.png">
        <p class="">
            支付金额：
            <span>12.16元（风控随机增加：0.16元）  </span><br>
            支付方式：
            <span>支付宝扫码</span>
        </p>
        <div style="clear: both">
        </div>
    </div>
    <p>订单编号： UM20221209014207674</p>
    <p>商品名称： 研狗插件下载与教程_解压密码</p>
    <p>购买数量： 1</p>
    <button type="button" class="btn btn-primary">确定</button>
  </form>
</div>
</div>
</body>
<script>


    layui.use(['layer', 'form'], function () {
        var form = layui.form;


    })
</script>
</html>