@charset "utf-8";

// 按钮
.more-link {
  display: block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  border: 1px solid lighten($aliColor,20%);
  z-index: 9999;
  display: inline-block;
  width: 120px;
  position: relative;
  &:before {
    content: "";
    width: 0%;
    height: 30px;
    background-color: darken($aliColor,7%);
    position: absolute;
    left: 0px;
    z-index: -1;
    transition: all 0.4s ease 0s;
    opacity: 0;
    display: block;
  }
  &:hover {
    &:before {
      width: 100%;
      opacity: 1;
    }
  }
}